body {


    background-color: #e5e9e5;
}



.Otsikko {
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    color: #4c10f0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.Luukku {
    background: #0cbf0c;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;

}

.Luukku.disabled {
    opacity: 0.5;

}

.Luukku.avattu {
    text-decoration: line-through;
}